.ToggleWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 300px;
  height: 60px;
}

.ToggleButtonSelected {
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: aqua;
}

.ToggleButtonUnselected {
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: rgb(139, 139, 139);
}
