.calendar {
  width: 14rem;
  padding: 0;
  height: fit-content;

  & > div {
    padding: 0;
  }

  table {
    width: 100%;

    tbody {
      display: grid;
      gap: 0.75rem 0;
      disableShrink: true;
      width: 100%;

      tr {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;        
      } 
    }
  }

  th {
    alignItems: center;
    font-size: 0.875rem;
  }

  td {
    width: 100%;
    background-color: transparent;

    &.ms-CalendarDay-hoverStyle {
      background-color: transparent;
    }

    button {
      font-size: 0.875rem;
      height: 100%;
      width: 28px;

      &.today {
        background-color: transparent !important;
        color: #343434 !important;
        font-weight: 400 !important;
        border: 1px solid #0078d4;
        border-radius: 50%;
      }
    }

    &::after {
      content: none;
    }

    &:hover {
      background-color: transparent;

      button {
        background-color: #DBF0FF;
        border-radius: 50%;

        &.today {
          background-color: #DBF0FF !important;
        }
      }
    }

    &:global(.ms-CalendarDay-daySelected) {
      background-color: transparent !important;
    }

    &.selected {
      background-color: transparent !important;
      &:hover {
        background-color: transparent !important;
      }

      &::after {
        content: "";
        border: none;
      }

      button {
        background-color: #0078d4;
        border-radius: 50%;
        color: #fff;

        &.today {
          background-color: #0078d4 !important;
          color: #fff !important;
        }
      }
    }

    &.disabled > button {
      text-decoration: line-through;
    }

    &.rangeButton {
      background-color: #dbf0ff;
      border-radius: 0;
      &:hover {
        background-color: #dbf0ff;
      }

      &.left {
        background: linear-gradient(90deg, #dbf0ff 50%, transparent 50%);
      }

      &.right {
        background: linear-gradient(-90deg, #dbf0ff 50%, transparent 50%);
      }
    }

    &.rangeButton.hoverRangeButton {
      background-color: #dbf0ff;
      border-radius: 0;
      &:hover {
        background-color: #dbf0ff;
      }

      &.left {
        background: linear-gradient(90deg, #dbf0ff 50%, #EBF7FF 50%);
      }

      &.right {
        background: linear-gradient(-90deg, #dbf0ff 50%, #EBF7FF 50%);
      }
    }

    &.hoverRangeButton {
      background-color: #EBF7FF;
      border-radius: 0;

      &.hoverLeft {
        background: linear-gradient(90deg, #EBF7FF 50%, transparent 50%);
      }

      &.hoverRight {
        background: linear-gradient(-90deg, #EBF7FF 50%, transparent 50%);
      }
    }
  }
}
